@page "/fetchdata"
@using BlazorApp.Shared 
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var currentData in data)
            {
                <tr>
                    <td>@currentData.Timestamp.DateTime.Date</td>
                    <td>@currentData.Timestamp.DateTime.ToShortTimeString()</td>
                    <td>@currentData.TemperatureC</td>
                    <td>@currentData.TemperatureF</td>
                    <td>@currentData.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<WeatherForecast> data;

    protected override async Task OnInitializedAsync()
    {
      try
      {
        data = await Http.GetFromJsonAsync<List<WeatherForecast>>("/api/record");
      }
      catch (Exception ex)
      {
        Console.WriteLine(ex.ToString());
      }
    }
}
